@model Category
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<form method="post">
    <div>
        <dl>
            <dt>Category Name</dt>
            <dd>@Model.CategoryName</dd> 
        </dl>
        <input type="submit" value="Delete" class="btn btn-success" />
    </div>
</form>
