
@{
    ViewData["Title"] = "Index";
}
@section styles{
   <link rel="stylesheet" href="https://cdn.datatables.net/1.11.1/css/dataTables.bootstrap4.min.css" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" />
}
<table id="tblOrderDetails" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
    <tfoot>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
    </tfoot>
</table>
@section Scripts{

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.1/js/dataTables.bootstrap4.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblOrderDetails').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "/Order/GetAllOrderItem"
                //$.ajax({
                //    method: 'POST',
                //    url: '/Comment/AddComment',
                //    contentType: "application/json",
                //    data: JSON.stringify(comment),

                //    success: function (data) {
                //        alert("Success");
                //    },
                //    error: function () {
                //        alert("Error");
                //    },
                //})
            });
        });
    </script>
}

